// Clear fixed header
//:target:before {
//    content: "";
//    display: block;
//    height: 100px;
//    margin: -100px 0 0;
//}

// Select headers if it's the first element on the page
.blog section:first-child *:first-child {
    @apply mt-0;
}

.blog *:first-child > p {
    @apply mt-0;
}

// Markdown styling
.blog {
    @apply text-on-background prose

    lg:prose-xl

    prose-p:text-justify

    prose-headings:text-primary
    prose-headings:font-bold
    md:prose-h2:text-4xl prose-h2:mt-16 prose-h2:mb-6
    md:prose-h3:text-3xl prose-h3:mt-14 prose-h3:mb-5
    md:prose-h4:text-2xl prose-h4:mt-12 prose-h4:mb-4
    md:prose-h5:text-xl prose-h5:mt-10 prose-h5:mb-3
    md:prose-h6:text-xl prose-h6:mt-8 prose-h6:mb-2

    prose-blockquote:rounded-lg
    prose-blockquote:border-primary
    prose-blockquote:bg-background-offset1
    prose-blockquote:text-on-background-dim
    prose-blockquote:px-7
    prose-blockquote:py-3
    prose-blockquote:text-lg
    prose-blockquote:leading-8

    prose-img:rounded-lg prose-img:shadow-md prose-img:mt-2 prose-img:mx-auto

    prose-table:text-on-background-dim
    prose-th:border-b
    prose-th:border-background-offset2
    prose-td:border-b
    prose-td:border-background-offset1

    marker:text-on-background-muted

    prose-strong:text-on-background-bright

    prose-hr:border-background-offset2;
}

// Headings
.prose h6 + *, .prose h5 + * {
    @apply mt-0;
}

// Links
.prose a {
    @apply text-accent no-underline
    bg-gradient-to-r from-accent to-accent
    bg-[position:50%_100%] bg-[length:0px_2.5px] bg-no-repeat
    hover:bg-[length:100%_2.5px]
    transition-[background-size] ease-in-out duration-500;
}

// Inline Code
.prose code:not(pre code) {
    @apply rounded bg-background-offset2 p-0.5 px-1 font-sans font-normal text-on-background
    whitespace-break-spaces
    before:content-[""] after:content-[""];
}

// Pretty Code Container
.prose div[data-rehype-pretty-code-fragment] {
    @apply text-base rounded-md leading-tight bg-slate-800 my-6 pb-1 max-w-full #{ !important };
}

// Code Title
.prose div[data-rehype-pretty-code-title] {
    @apply rounded-t-md border-b border-slate-900 bg-slate-900/40 text-blue-400 select-none
    px-4 py-3 text-xs font-mono font-medium leading-none #{!important}
}

// Code Caption
.prose div[data-rehype-pretty-code-caption] {
    @apply border-t border-slate-900 text-slate-500 italic select-none
    px-4 py-3 text-xs font-medium leading-none #{!important}
}

// Code Pre
.prose div[data-rehype-pretty-code-fragment] pre {
    @apply m-0 px-0 bg-slate-800;
}

// Code Body
.prose div[data-rehype-pretty-code-fragment] code {
    @apply grid w-0;
}

// Code Line
.prose div[data-rehype-pretty-code-fragment] .line {
    @apply px-4 border-l-4 border-l-transparent;
}

// Code Line Highlight
.prose div[data-rehype-pretty-code-fragment] .highlighted {
    @apply border-l-primary bg-slate-700;
}

// Code Line Highlighted Line Number
.prose div[data-rehype-pretty-code-fragment] .highlighted::before {
    @apply text-slate-400 #{!important};
}

// Line Numbers
.prose code[data-line-numbers] {
    counter-reset: lineNumber;
}

.prose code[data-line-numbers] .line::before {
    counter-increment: lineNumber;
    content: counter(lineNumber);
    @apply inline-block text-right w-4 mr-4 text-slate-600 hover:text-slate-400;
}

.prose code[data-line-numbers-max-digits="3"] > .line::before {
    @apply w-8;
}

// Code Scrollbar
.prose pre::-webkit-scrollbar {
    @apply h-3 bg-transparent;
}

// Code Scrollbar track
.prose pre::-webkit-scrollbar-track {
    @apply bg-transparent mx-4;
}

// Code Scrollbar handle
.prose pre::-webkit-scrollbar-thumb {
    @apply rounded-md bg-slate-600;
}
