---
// Layouts
import BaseLayout from "@layouts/BaseLayout.astro";

// Components
import PageHeading from "@components/common/PageHeading.vue";
---

<BaseLayout pageTitle="Snippets">

    <!--Page Header-->
    <PageHeading title="Snippets" subtitle="Code snippets I reference and revisit" />

    <section>

        Work in progress..

    </section>

</BaseLayout>
